<div class="cbw-wrapper">
  <div class="cbw-container">
    <div class="cbw-header">
      <div class="cbw-header__title">
        <div class="cbw-icon-box">
          <img
            src="assets/icons/robot.svg"
            alt="Bot logo"
            width="24"
            height="24"
          />
        </div>
        <div class="cbw-header__title-text">Bot Name</div>
      </div>
      <div class="cbw-header__actions">
        <button class="btn-icon">
          <span class="material-icons">refresh</span>
        </button>
        <button class="btn-icon">
          <span class="material-icons">close</span>
        </button>
      </div>
    </div>

    <div class="cbw-body">
      <ul class="cbw-chat">
        <li class="cbw-chat__item">
          @if (true) {
          <ul class="cbw-msg">
            <li class="cbw-msg__header">
              <div class="cbw-msg__header-icon">
                <img src="assets/icons/robot.svg" alt="Bot logo" />
              </div>
              <span>Date</span>
            </li>
            <li class="cbw-msg__text">
              I'm Athena, your digital assistant. I can't wait to help you learn
              about some of our top rated MBA and MS programs.
            </li>
          </ul>
          }
          <ul class="cbw-prompts">
            <li class="cbw-prompts__item"><button>MBA</button></li>
            <li class="cbw-prompts__item"><button>MS</button></li>
            <li class="cbw-prompts__item"><button>MBA</button></li>
          </ul>
          <ul class="cbw-user-msg">
            <li class="cbw-user-msg__item">MBA</li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="cbw-footer">
      <textarea class="cbw-user-input" name="" readonly>
Please Select a Program</textarea
      >
    </div>
  </div>
</div>
