.cbw {
  $header-height: 50px;
  $footer-height: 60px;

  &-wrapper {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 400px;
    background: var(--color-secondary);
    border: var(--color-border);
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.75);
  }

  &-container {
    max-height: 100svh;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  // Header
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
    background: var(--color-primary);
    color: var(--text-color-secondary);
    padding-left: 12px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__title-text {
      margin: 0 10px;
    }

    &__actions {
      display: flex;
      align-items: center;
    }
  }

  // Body
  &-body {
    padding: 12px 24px;
    flex: 1;
    overflow: auto;
    border-bottom: 2px solid var(--color-border);
  }

  // Footer
  &-user-input {
    width: 100%;
    background: transparent;
    padding: 20px;
    height: $footer-height;
    resize: none;
  }
}
