<div class="cbw-wrapper">
  <div class="cbw-container">
    <div class="cbw-header">
      <div class="cbw-header__title">
        <div class="cbw-icon-box">
          <img
            src="assets/icons/robot.svg"
            alt="Bot logo"
            width="24"
            height="24"
          />
        </div>
        <div class="cbw-header__title-text">{{ title }}</div>
      </div>
      <div class="cbw-header__actions">
        <button class="btn-icon" (click)="resetChat()">
          <span class="material-icons">refresh</span>
        </button>
      </div>
    </div>

    <div class="cbw-body" cbwAutoScroll cbwContentSelector=".cbw-chat">
      <cbw-sessions-list></cbw-sessions-list>
    </div>

    <div class="cbw-footer">
      <textarea class="cbw-user-input" name="" readonly>
Please Select a Program</textarea
      >
    </div>
  </div>
</div>
