:root {
  --color-primary: #dda15e;
  --color-secondary: #fefae0;
  --color-border: #283618;
  --color-input: #606c38;
  --color-active: #bc6c25;
  --text-color-primary: #000;
  --text-color-secondary: #fff;
}
