:root {
  --bg-primary: #f2f5f8;
  --bg-title: #444753;
  --bg-bot-msg: #86bb71;
  --bg-user-msg: #94c2ed;

  --border-color: #fff;

  --text-color-title: #434651;
  --text-color-primary: #fff;
  --text-color-secondary: #92959e;
}
